{% extends 'base.html' %}

{% load static %}


{% block content %}

    <img src="{% static 'nicole.jpg' %}" alt="">


    <form action="{% url 'index' %}" method="post" id="frm">
        {% csrf_token %}
        <label for="txtusername">username</label>
        <input type="text" name="txtusername"  id="txtusername"><br>
        <label for="txtcomment">comment</label>
        <input type="text" name="txtcomment"  id="txtcomment"><br>
        <input type="checkbox" name="txtlike" id="txtlike"><br>
        <input type="submit" value="Post"  id="btn">
    </form>


        {{msg}}

{% endblock content %}





<!-- 
{% block jslink %}
{% endblock %} -->




